#borrar, #editar{
    width: 20px;
    height: auto;
}
#volver{
    display: flex;
}
#volver h1{
    font-size: 20px;
    margin-top: -10px;
}
.frase1{
    background-color: #F8C346;
    margin: -25px -85.9px 0px -85.9px;
    padding: 30px 0px 15px 0px;
}
.formulario2{
    margin: 30px 290px 0px 320px;
}