body{
    margin:0%;
    padding: 0%;
    text-align: center;
    align-content: center;
}
#formulario img{
    display: flex;
    margin-left:-24px;
    width: 1312px;
    height: 350px;
}
#formulario p{
    font-size: 50px;
    color: #0D0252;
    font-family: 'poppins';
}
h3{
    color:gray;
}
h5{
    font-family: 'poppins' sans-serif;
    color: #303738;
}
#registro h3, h5{
    display: flex;
    padding: 0px 0px 2px 260px;
}
#registro img{
    width:30px;
    height: auto;   
    padding:4px;
    border:1px solid gray;
    border-radius: 80%;
}
#formulario h1{
    background:#CB262A;
    padding:12px 60px;
    margin-left: 42%;
    margin-top: 4%;
    color:white;
    font-family: 'Roboto';
    font-size: 16px;
    border-radius:20px 20px 20px 20px;
}
a{
    text-decoration: none;
}
#formulario{
    margin-bottom: 60px;
}