body{
    margin: 0%;
    padding: 0px;
}
#granjas img{
    width: 900px;
    height: auto;
    padding-left: 80px;
}
#granjas{
    position: relative;
    display: inline-block;
    text-align: center;
}
#textoencima{
    position: absolute;
    top: 118.9px;
    left: 56px;
}
#textoencima2{
        position: absolute;
        top: 373.9px;
        left: 56px;
}
p{
    -webkit-text-stroke: 2px white;
    background: rgb(255,0,0);
background: linear-gradient(108deg, rgba(255,0,0,0.5130427170868348) 0%, rgba(255,0,0,0.48503151260504207) 51%, rgba(255,0,0,0.48783263305322133) 100%);
    padding-left: 283.5px;
    padding-right: 262.9px;
}
p:hover{
    transform: scale(1.1);
}