body{
    margin:0%;
    padding: 0%;
    text-align: center;
    align-content: center;
}
#registro{
    border: 2px dashed gray;
    margin: 0px 220px 0px 270px;
    padding-top: 15px;
}
#formulario{
    margin-bottom: 5%;
}
#formulario img{
    display: flex;
    margin-left:-24px;
    width: 1312px;
    height: 350px;
}
#formulario p{
    font-size: 50px;
    color: #0D0252;
    font-family: 'poppins';
}
#formulario h4{
    font-family: 'poppins';   
}
#registro h4{
    display: flex;
}
#formulario h1{
    background:#CB262A;
    padding:12px 60px;
    margin-left: 37%;
    margin-top: 1%;
    color:white;
    font-family: 'Roboto';
    font-size: 16px;
    border-radius:20px 20px 20px 20px;
}
a{
    text-decoration: none;
}