body{
    margin:0%;
    padding: 0%;
    text-align: center;
    align-content: center;
}
#registro{
    margin: 0px 290px 0px 305px;
    padding-top: 15px;
}
#registro{
    margin-bottom: 10px;
}
#formulario img{
    display: flex;
    margin-left:-24px;
    width: 1312px;
    height: 350px;
}
#formulario p{
    font-size: 50px;
    color: #0D0252;
    font-family: 'poppins';
}
#registro h6{
    font-family: 'poppins' sans-serif;   
}
#registro h6{
    display: flex;
}
#registro h1{
    background:#CB262A;
    padding:12px 60px;
    margin-left: 35%;
    margin-top: 1%;
    color:white;
    font-family: 'Roboto';
    font-size: 16px;
    border-radius:20px 20px 20px 20px;
}
a{
    text-decoration: none;
}
#registro h6{
    font-size: 15px;
}
#registro h4{
    text-align: left;
    margin-left: -108px;
}